{% extends 'recommend_edu/base.html' %}
{% load static %}

{% block title %} Recommender System, description {% endblock %}

{% block content %}


<a href="/results"><h3> Let's start</h3></a>
<img src="{% static 'img/output.png' %}" width="920">
<p>Our personal recommendation system leverages machine learning algorithms to provide
    tailored recommendations for individuals in their educational and personal development journeys.
    The system takes into account various factors such as location, personal abilities,
    age, and user preferences. By analyzing user data and utilizing intelligent algorithms,
    the system offers personalized recommendations for courses, resources, career paths,
    and other relevant opportunities. It considers the user's interests, goals, and
    feedback to continually refine and enhance the recommendations provided. </p>
</p>Goal is to empower individuals in their pursuit of education and personal
growth by providing them with valuable and customized recommendations.</p>


{% endblock %}